.header {
  background-color: #16270F;
}

.offer {
  background-color: #16270F;
  background: linear-gradient(180deg, #16270F 10%, #15250E 40%, #000000 100%);
}

.trusted {
  background-color: #000000;
}

.realizations {
  background-color: #16270F;
  background: linear-gradient(180deg, #000000 0%, #203617 400px, #000000 1500px);
}

.footer {
  background-color: #000000;
}