.copy-el {
    position:relative;
    display: inline-block;
    cursor: pointer;
    &:after {
        content: 'Skopiowano!';
        font-size: 14px;
        display: none;
        position: absolute;
        background-color: #ffffff;
        color: #000000;
        border-radius: 5px;
        padding: 5px;
        font-style: normal;
        left: 50%;
        bottom: calc(100% + 4px);
        transform: translateX(-50%);
    }

    &.is-copied {
        &:after {
            display: inline-block;
            content: 'Skopiowano';
        }
    }
}

@media (min-width: $lg) {
    .copy-el {


        &:hover {
            &:after {
                content: 'Skopiuj';
                display: inline-block;
            }
        }

        &.is-copied {
            &:after {
                display: inline-block;
                content: 'Skopiowano';
            }
        }

    }
}