.footer {
    padding: 50px 0 0;

    &_heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 85px;

        h2 {
            font-size: 2rem;
        }

        img {
            max-height: 40px;
        }
    }

    &_content {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    &_txt {
        display: flex;
        flex-direction: column;
    }

    &__links {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 15px;
        padding: 50px 0;

        a {
            color: #ffffff;
            text-decoration: none;
            width: 100%;

            &:first-of-type {
                text-align: right;
            }
        }
    }
}

.company_details {
    margin-bottom: 60px;

    .adress {
        display: flex;
        flex-direction: column;
        row-gap: 18px;
        margin-bottom: 35px;

        span {
            display: none;
        }
    }

    .mail-adress {
        font-style: italic;
    }
}

.company_leaders {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-bottom: 30px;

    div {
        p {
            font-style: italic;

            &:first-of-type {
                font-style: normal;
                margin-bottom: 15px;
            }
        }
    }
}

.return_link {
    width: 45px;
    text-decoration: none;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 55px;

    &_el {
        width: 100%;



        input:not(.send_btn),
        textarea {
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            background-color: transparent;
            outline: none;
            border: 0px;
            border-bottom: 2px solid #ECF0EC;
            font-size: 1.6rem;
            color: #ECF0EC;
            padding: 15px 0 25px;

            &::placeholder {
                color: #ECF0EC;
                font-weight: 300;
                font-style: italic;
                font-size: 1.6rem;
                text-transform: uppercase;
            }

            &:focus {
                background-color: transparent;
            }
        }

        textarea {
            min-height: 100px;
            resize: none;
            display: flex;
            align-items: flex-end;
            position: relative;
            font-family: 'Libre Franklin', sans-serif;

            &::placeholder {
                position: absolute;
                left: 0;
                bottom: 25px;
            }
        }

        &--send {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 30px;

            span {
                font-size: 10px;
                line-height: 18px;
            }

            input {
                border: 2px solid #ECF0EC;
                border-radius: 40px;
                padding: 10px 29px;
                background-color: transparent;
                color: #ECF0EC;
                font-size: 1.6rem;
                cursor: pointer;
            }
        }
    }
}

@media (min-width: $md) {
    .footer {
        padding: 71px 0 0;

        &_heading {
            h2 {
                font-size: 3rem;
            }
            img {
                max-height: 72px;
            }
        }

        &_content {
            display: flex;
            flex-direction: column;
            row-gap: 76px;
        }

        &_txt {
            font-size: 2rem;
        }
        &__links {

            padding: 70px 0;


        }
    }

    .company_details {

        margin-bottom: 82px;
        .adress {
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 40px;
            span {
                display: block;
            }
        }
    }

    .company_leaders {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 65px;
    }

    .return_link {
        width: 91px;
    }

    .form {
        &_el {

            input:not(.send_btn),
            textarea {
                font-size: 2rem;

                &::placeholder {
                    font-size: 2rem;
                }
            }

            &--send {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                span {
                    max-width: 400px;
                }

                input {
                    font-size: 2rem;
                    padding: 16px 45px;
                }
            }
        }
    }
}

@media (min-width: $lg) {

    @keyframes tilt-shaking {
        0% { transform: rotate(0deg); }
        25% { transform: rotate(5deg); }
        50% { transform: rotate(0eg); }
        75% { transform: rotate(-5deg); }
        100% { transform: rotate(0deg); }
      }

    .footer {
        padding: 90px 0 0;

        &_heading {
            img {
                max-height: 72px;
            }
            h2 {
                font-size: 4rem;
            }
        }

        &_content {
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: flex-end;

            .form {
                width: 40%;
            }
        }

        &_txt {
            padding-top: 25px;
            width: 50%;
            max-width: 807px;
            font-size: 1.6rem;
        }

        &__links {

            padding: 90px 0;


        }
    }

    .company_leaders {
        margin-bottom: 45px;
    }

    .return_link {
        width: 60px;
        &:hover {
            animation: tilt-shaking .25s linear;
        }
    }

    .form {
        row-gap: 30px;
        &_el {

            input:not(.send_btn),
            textarea {
                font-size: 1.6rem;

                &::placeholder {
                    font-size: 1.6rem;
                }
            }

            textarea {
                min-height: 80px;
            }

            &--send {
                margin-top: 12px;
                flex-direction: column;
                align-items: flex-end;

                span {
                    max-width: 100%;
                }
                input {
                    font-size: 1.6rem;
                    padding: 16px 45px;

                    &:hover {
                        background-color: #ECF0EC;
                        color: #000000;
                    }
                }
            }
        }
    }
}

@media (min-width: $xl) {
    .footer {
        padding: 110px 0 0;

        &_heading {
            img {
                max-height: 115px;
            }
        }

        &__links {

            padding: 110px 0 80px;


        }
    }

    .form {

        &_el {





            &--send {

                flex-direction: row;
                align-items: center;

                span {
                    max-width: 380px;
                }

            }
        }
    }
}

@media (min-width: $xxl) {
    .footer {
        padding: 110px 0 0;

        &_heading {
            img {
                max-height: 115px;
            }
        }

        &_txt {
            font-size: 2rem;
        }
    }
}

@media (min-width: $xxxl) {
    .footer {
        padding: 135px 0 0;

        &_heading {
            img {
                max-height: 140px;
            }
            h2 {
                font-size: 5rem;
            }
        }

        &_txt {
            font-size: 2.4rem;
        }
    }

    .company_leaders {
        margin-bottom: 65px;
        div {
            p {
                &:first-of-type {
                    margin-bottom: 25px;
                }
            }
        }
    }

    .return_link {
        width: 75px;
    }

    .form {
        row-gap: 30px;
        &_el {

            input:not(.send_btn),
            textarea {
                font-size: 1.9rem;

                &::placeholder {
                    font-size: 1.9rem;
                }
            }

            textarea {
                min-height: 125px;
            }

            &--send {
                margin-top: 40px;
                input {
                    font-size: 1.9rem;
                    padding: 16px 45px;
                }
            }
        }
    }
}