.topbar {
    background: rgba(22,39,15, .5);

backdrop-filter: blur(10px);
    z-index: 999999;
    top: 0;
    position: fixed;
    width: 100%;
    padding: 30px 0 22px;
    transition: padding .5s;

    &.fixed {
        padding: 15px 0 15px;

        .nav-box {
            nav {
                padding-bottom: 10px;
            }
        }

        .top {
            .logo {
                height: 42px;
            }
        }
    }
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;



    .logo {
        height: 24px;
        display: flex;
        flex-wrap: nowrap;
        transition: height .5s;


        img {
            flex-shrink: 1;
            max-width: 100%;
        }
    }

    .burger-btn {
        cursor: pointer;
    }
}

.nav-box {
   position: fixed;
   width: 100vw;
   height: 100vh;
   top: 0;
   left: 0;
   z-index: 999999;
   background-color: #15250E;
   padding: 30px 0;
   transform: translateX(100%);
   transition: transform .5s;

   &.show {
    transform: translateX(0);
   }


   &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo--burger {
            width: 132px;
            cursor: pointer;
        }
   }

   nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 18px;
    padding-top: 18vh;
    transition: padding .5s;

    .nav__el {
        font-size: 2.5rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $primary-color;
        cursor: pointer;

        &.active {
            font-weight: 700;
        }
    }
   }

   &__bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 70px;
    width: 100%;
    margin-top: 44px;

    a {
        display: block;
    }
   }
}



@media (min-width: $md) {
    .topbar {
        padding: 37px 0 25px;
    }

    .nav-box {
        padding-top: 37px;
    }
}

@media (min-width: $lg) {
    .top {
        align-items: flex-end;
        .burger-btn {
            display: none;
        }

        .logo {
           height: 36px;
        }
    }

    .nav-box {
        padding: 0;
        transform: translateX(0);
        position: static;
        background-color: transparent;
        height: auto;
        width: auto;

         .container {
            padding: 0;
         }

         &__top, &__bottom {
            display: none;
         }

         nav {
            padding: 0 10px 0;
            flex-direction: row;
            column-gap: 20px;
            border-bottom: 1px solid $primary-color;
            padding-bottom: 10px;

            .nav__el {
                font-size: 1.4rem;
            }
         }
    }
}

@media (min-width: $xl) {
    .top {
        .logo {
            height: 52px;
        }
    }
    .nav-box {
        nav {
            column-gap: 30px;

            .nav__el {
                font-size: 1.6rem;
            }
        }
    }
}

@media (min-width: $xxxl) {
    .nav-box {

        nav {
            column-gap: 55px;
            padding-bottom: 20px;
        }
    }
}