.realizations {
    padding-bottom: 78px;

    h2 {
        margin-bottom: 28px;
    }

    &_wrapper {
        display: grid;
        border-top: 2px solid $primary-color;
        padding-top: 34px;

        .realizations_content,
        .realizations_extended {
            grid-column: 1;
            grid-row: 1;
        }
    }

    &_content {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        row-gap: 22px;
        z-index: 30;
    }

    &_el {
        position: relative;
        width: 100%;
        cursor: pointer;

        .arrow {
            position: absolute;
            top: 12px;
            right: 12px;
            width: 45px;
            height: auto;
        }

        p {
            text-transform: uppercase;
            font-size: 2rem;
            color: $primary-color;
            margin-top: 17px;
        }

        &_img {
            display: block;
            width: 100%;
        }
    }

    &_extended {
        z-index: 40;
        display: none;
        width: 100%;

        &_el {
            color: $primary-color;
            position: relative;
            padding-top: 73px;
            display: none;
            opacity: 0;

            .extended_arrow {
                position: absolute;
                width: 45px;
                height: auto;
                top: 12px;
            }

            .extended_txt {
                p {
                    &:first-of-type {
                        font-size: 2rem;
                        text-transform: uppercase;
                        margin: 45px 0 35px;
                    }

                    &:last-of-type {
                        margin-bottom: 39px;
                    }
                }
            }

            .extended_content {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 20px;

                .extended_txt {
                    grid-row: 1;
                    grid-column: 1 / 3;
                }

                img {
                    width: 100%;

                    &:first-of-type {
                        grid-column: 1;
                        grid-row: 2 / 4;
                    }

                    &:last-of-type {
                        align-self: end;
                    }
                }
            }
        }

        &_collapse {
            width: 102px;
            height: 40px;
            border: 2px solid $primary-color;
            color: $primary-color;
            font-size: 1.6rem;
            border-radius: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 62px auto 0;
        }
    }
}

@media (min-width: $md) {
    .realizations {

        &_wrapper {
            padding-top: 52px;
        }

        &_content {
            justify-content: space-between;
        }

        &_el {
            width: 48%;

            .arrow {
                width: 49px;
            }
        }
    }
}

@media (min-width: $lg) {
    .realizations {


        &_el {
            width: 32%;

            .arrow {
                width: 49px;
            }
        }
    }
}


@media (min-width: $xxl) {
    .realizations {

        &_wrapper {
            padding-top: 95px;
        }

        &_content {
            row-gap: 80px;
        }

        &_el {
            .arrow {
                width: 82px;
                top: 20px;
                right: 20px;
            }

            p {
                font-size: 3.5rem;
            }
        }
    }
}