<!DOCTYPE html>
<html lang="pl">

<head>
	<meta charset="UTF-8">
	<title>SIGO</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="SIGO - kompleksowe rozwiązania reklamowe">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

</head>

<body>

	<section class="offer">
		<div class="container">
			<div class="heading__box">
				<h2>Nasze <br><b>kompetencje</b></h2>

				<p class="subheading">Jesteśmy tutaj, aby Cię wesprzeć! Zobacz, co możemy dla Ciebie zrobić.</p>
			</div>

			<div class="offer__content">
				<div class="offer__el">
					<p class="offer__el--heading">
						PROJEKTOWANIE <br><b>GRAFICZNE</b>
					</p>

					<p class="offer__el--txt">
						Projekty graficzne, które spełniają Twoje oczekiwania. Nasza praca to Twoja satysfakcja.
					</p>
				</div>

				<div class="offer__el">
					<p class="offer__el--heading">
						MATERIAŁY <br><b>POS</b>
					</p>

					<p class="offer__el--txt">
						Kreatywne, skuteczne i profesjonalne rozwiązania promocyjne dla Twojej marki.
					</p>
				</div>

				<div class="offer__el">
					<p class="offer__el--heading">
						DRUK <br><b>STANDARDOWY</b>
					</p>

					<p class="offer__el--txt">
						Profesjonalne usługi poligraficzne na różnorodnych materiałach - papier, folie, banery, etykiety i inne.
					</p>
				</div>

				<div class="offer__el">
					<p class="offer__el--heading">
						PRODUKTY <br><b>PREMIUM</b>
					</p>

					<p class="offer__el--txt">
						Podkreśl prestiż swoich produktów - drukowanie premium na niestandardowych podłożach z uszlachetnieniami
					</p>
				</div>

				<div class="offer__el">
					<p class="offer__el--heading">
						<b>KONFEKCJONOWANIE</b>
					</p>

					<p class="offer__el--txt">
						Nie trać czasu na konfekcjonowanie i pakowanie - zleć to nam, a Ty skup się na rozwijaniu swojego biznesu.
					</p>
				</div>

				<div class="offer__el">
					<p class="offer__el--heading">
						<b>MAGAZYNOWANIE</b>
					</p>

					<p class="offer__el--txt">
						Elastyczne rozwiązania logistyczne oraz bezpieczne i profesjonalne magazynowanie - zadbamy o Twoje produkty.
					</p>
				</div>
			</div>
		</div>
	</section>



	<section class="trusted">
		<div class="container">
			<h2><b>Zaufali</b> nam</h2>

			<div class="splide trusted_slider">
				<div class="splide__track">
					<ul class="splide__list trusted_list">
						<li class="splide__slide">Slide 01</li>
						<li class="splide__slide">Slide 02</li>
						<li class="splide__slide">Slide 03</li>
						<li class="splide__slide">Slide 01</li>
						<li class="splide__slide">Slide 02</li>
						<li class="splide__slide">Slide 03</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="about">
		<div class="wrapper">
			<div class="about_content">
				<div class="container">
					<p class="about_heading">O nas</p>

					<p class="about_txt">
						Nasz zespół to młodzi, kreatywni specjaliści poligrafii z doświadczeniem w pracy z marketingiem dużych korporacji, e-commerce i agencji eventowych.
					</p>

					<p class="about_txt">
						Jesteśmy skoncentrowani na potrzebach klienta i radzimy sobie z każdym zadaniem, nawet tym pozornie niemożliwym.
					</p>

					<p class="about_txt mb-0">
						Szukasz ciekawych pomysłów? Skontaktuj się z nami, a pomożemy Ci znaleźć inspirujące rozwiązania!
					</p>
				</div>
			</div>
			<div class="about_bosses">
				<div>
					<img src="./images/goat.png" alt="boss image">
					<p>
						Karol <br>Kozicki <br><i>CEO</i>
					</p>
				</div>
				<div>
					<img src="./images/silentkiller.png" alt="boss image">
					<p>
						Łukasz <br>Cichy <br><i>CEO</i>
					</p>
				</div>
			</div>
		</div>
	</section>


	<div class="bottom-links">
		<ul class="bottom-links__list">
			<li class="bottom-links__item">
				<a href="#" onclick="window.open('{{ cdn_privacy }}', 'windowname1', 'width=670, height=765, scrollbars=1'); return false;">Polityka prywatności</a>
			</li>
			<li class="bottom-links__item">
				<a href="#" onclick="window.open('{{ cdn_regulations }}', 'windowname1', 'width=670, height=765, scrollbars=1'); return false;">Regulamin</a>
			</li>
		</ul>


	</div>
</body>

</html>