<!DOCTYPE html>
<html lang="pl">

<head>
	<meta charset="UTF-8">
	<title>SIGO</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="SIGO - kompleksowe rozwiązania reklamowe">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

</head>

<body>
	<div class="container">
		<section class="offer">
			<div class="heading__box">
				<h2>Nasze <br><b>kompetencje</b></h2>

				<p class="subheading">Jesteśmy tutaj, aby Cię wesprzeć! Zobacz, co możemy dla Ciebie zrobić.</p>
			</div>

			<div class="offer__content">
				<div class="offer__el">
					<p class="offer__el--heading">
						PROJEKTOWANIE <br><b>GRAFICZNE</b>
					</p>

					<p class="offer__el--txt">
						Projekty graficzne, które spełniają Twoje oczekiwania. Nasza praca to Twoja satysfakcja.
					</p>
				</div>

				<div class="offer__el">
					<p class="offer__el--heading">
						PROJEKTOWANIE <br><b>GRAFICZNE</b>
					</p>

					<p class="offer__el--txt">
						Projekty graficzne, które spełniają Twoje oczekiwania. Nasza praca to Twoja satysfakcja
					</p>
				</div>

				<div class="offer__el">
					<p class="offer__el--heading">
						PROJEKTOWANIE <br><b>GRAFICZNE</b>
					</p>

					<p class="offer__el--txt">
						Projekty graficzne, które spełniają Twoje oczekiwania. Nasza praca to Twoja satysfakcja
					</p>
				</div>

				<div class="offer__el">
					<p class="offer__el--heading">
						PROJEKTOWANIE <br><b>GRAFICZNE</b>
					</p>

					<p class="offer__el--txt">
						Projekty graficzne, które spełniają Twoje oczekiwania. Nasza praca to Twoja satysfakcja
					</p>
				</div>

				<div class="offer__el">
					<p class="offer__el--heading">
						PROJEKTOWANIE <br><b>GRAFICZNE</b>
					</p>

					<p class="offer__el--txt">
						Projekty graficzne, które spełniają Twoje oczekiwania. Nasza praca to Twoja satysfakcja
					</p>
				</div>

				<div class="offer__el">
					<p class="offer__el--heading">
						PROJEKTOWANIE <br><b>GRAFICZNE</b>
					</p>

					<p class="offer__el--txt">
						Projekty graficzne, które spełniają Twoje oczekiwania. Nasza praca to Twoja satysfakcja
					</p>
				</div>
			</div>
		</section>
	</div>


	<div class="bottom-links">
		<ul class="bottom-links__list">
			<li class="bottom-links__item">
				<a href="#" onclick="window.open('{{ cdn_privacy }}', 'windowname1', 'width=670, height=765, scrollbars=1'); return false;">Polityka prywatności</a>
			</li>
			<li class="bottom-links__item">
				<a href="#" onclick="window.open('{{ cdn_regulations }}', 'windowname1', 'width=670, height=765, scrollbars=1'); return false;">Regulamin</a>
			</li>
		</ul>


	</div>
</body>

</html>