<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8" />
  <title>SIGO</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Kompleksowe rozwiązania reklamowe - od pomysłu do gotowych realizacji! Skontaktuj się z nami już dziś i przekonaj dlaczego jesteśmy najlepszym wyborem dla Twojego biznesu!" />
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#16270F">
  <meta name="msapplication-TileColor" content="#16270F">
  <meta name="theme-color" content="#16270F">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet" />


  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">

</head>


<body>
  <header class="header navDestination" id="return">

    <div class="topbar">
      <div class="topbar__wrapper">
        <div class="container">
          <div class="top">
            <div class="logo">
              <img class="logo-s" src="./images/main-logo/s.png" alt="logo image" />
              <img class="logo-i" src="./images/main-logo/i.png" alt="logo image" />
              <img class="logo-g" src="./images/main-logo/g.png" alt="logo image" />
              <img class="logo-ostudio" src="./images/main-logo/ostudio.png" alt="logo image" />

              <!-- <svg class="logo-s" id="Group_2" data-name="Group 2" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 36.611 51.359">
                <path id="Path_2" data-name="Path 2" d="M-71.652-32.037c-3.83-3.316-7.123-3.537-8.578-3.537a6.546,6.546,0,0,0-4.979,1.694,4.314,4.314,0,0,0-1.3,3.1,3.382,3.382,0,0,0,1.149,2.726c1.225,1.106,2.987,1.547,6.434,2.8l3.829,1.4A20.733,20.733,0,0,1-68.128-20.1a12.005,12.005,0,0,1,3.753,9.137c0,5.084-1.838,9.505-4.519,12.158C-73.413,5.764-80,6.206-83.37,6.206A22.368,22.368,0,0,1-93.48,4.143a32.434,32.434,0,0,1-7.506-5.379l6.127-8.106A31.048,31.048,0,0,0-90.11-5.584a12.214,12.214,0,0,0,6.434,1.769A8.376,8.376,0,0,0-78.315-5.51a5.011,5.011,0,0,0,1.838-3.98,4.276,4.276,0,0,0-1.762-3.537c-1.379-1.1-4.518-2.211-5.974-2.727l-4.212-1.4c-2.375-.81-5.132-1.842-7.123-3.905A11.79,11.79,0,0,1-98.612-29.6a14.8,14.8,0,0,1,4.443-11.053c3.6-3.537,7.889-4.495,12.638-4.495A25.365,25.365,0,0,1-66.366-40.29Z" transform="translate(100.986 45.153)" fill="#fff"/>
              </svg>

              <svg class="logo-i" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.795 49.149">
                <path id="Path_4" data-name="Path 4" d="M194.238-123.855h-11.8V-173h11.8Z" transform="translate(-182.443 173.004)" fill="#fff"/>
              </svg>

              <svg class="logo-g" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56.396 51.359">
                <g id="Group_205" data-name="Group 205" transform="translate(-194.764 -55.809)">
                  <g id="Group_12" data-name="Group 12" transform="translate(194.764 55.809)">
                    <path id="Path_14" data-name="Path 14" d="M-64.621-104.19c-3.793-.041-8.585-2-11.01-5.07-1.836-2.322-3.345-6.048-3.345-11.648a16.455,16.455,0,0,1,4.366-11.642c2.451-2.505,5.9-3.979,10.57-3.979a13.162,13.162,0,0,1,7.812,2.358,15.02,15.02,0,0,1,4.519,5.305l10.646-5.527a27.58,27.58,0,0,0-8.272-8.768c-4.749-3.021-10.11-3.684-14.323-3.684-6.051,0-13.786.884-20.067,7.148-4.289,4.2-7.353,10.611-7.353,18.643a25.566,25.566,0,0,0,7.506,18.716c5.974,5.895,12.561,6.853,18.688,6.853h.262Z" transform="translate(91.077 146.846)" fill="#fff"/>
                  </g>
                  <g id="Group_14" data-name="Group 14" transform="translate(222.543 79.629)">
                    <path id="Path_16" data-name="Path 16" d="M-36.142,0h-14.8V10.515h8.715L-50.937,18.9v8.631h8.892l8.792-8.459v8.459h10.93V0Z" transform="translate(50.939)" fill="#96d9a5"/>
                  </g>
                </g>
              </svg>

              <svg class="logo-ostudio" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 141.525 51.359">
                <g class="logo-ostudio-o" id="Group_204" data-name="Group 204" transform="translate(-260.209 -55.809)">
                  <path id="Path_5" data-name="Path 5" d="M-116.365-17.458A25.1,25.1,0,0,1-108.4,1.111a24.932,24.932,0,0,1-7.966,18.422c-4.749,4.421-11.182,7.221-19.761,7.221-9.574,0-16.084-3.684-19.914-7.221a24.644,24.644,0,0,1-7.965-18.274,26.912,26.912,0,0,1,7.889-18.643c3.446-3.316,9.8-7.221,19.99-7.221,7.965,0,14.629,2.358,19.761,7.147m-31.02,7.516A14.775,14.775,0,0,0-151.9,1.185a14.388,14.388,0,0,0,4.672,11.053,15.365,15.365,0,0,0,10.953,4.052,15.792,15.792,0,0,0,11.335-4.2A14.443,14.443,0,0,0-120.5,1.111a15.188,15.188,0,0,0-4.443-11.053,16.739,16.739,0,0,0-11.259-4.2,16.017,16.017,0,0,0-11.182,4.2" transform="translate(424.214 80.414)" fill="#fff"/>
                  <path id="Path_6" data-name="Path 6" d="M-16.887-6.956a3.223,3.223,0,0,0-.807-1,2.55,2.55,0,0,0-1.552-.458,2.086,2.086,0,0,0-2.319,2.051A1.37,1.37,0,0,0-21.048-5.2a4.56,4.56,0,0,0,1.449.836l1.325.557a6.76,6.76,0,0,1,2.132,1.255,3.132,3.132,0,0,1,.993,2.41,4.071,4.071,0,0,1-4.367,4.083,4.215,4.215,0,0,1-3-1.075A4.757,4.757,0,0,1-23.8.511l1.49-.4a3.087,3.087,0,0,0,.828,1.693,2.7,2.7,0,0,0,1.987.737A2.563,2.563,0,0,0-16.722-.086,1.946,1.946,0,0,0-17.4-1.639a6.086,6.086,0,0,0-1.656-.916L-20.3-3.113a6.159,6.159,0,0,1-1.842-1.1A2.711,2.711,0,0,1-23.1-6.379c0-2.051,1.636-3.425,3.871-3.425a3.85,3.85,0,0,1,2.215.6,4.068,4.068,0,0,1,1.346,1.474Z" transform="translate(345.119 102.69)" fill="#fff"/>
                  <path id="Path_8" data-name="Path 8" d="M-11.932-3.4V8.484h-1.532V-3.4h-3.353V-4.8h8.239V-3.4Z" transform="translate(350.41 97.904)" fill="#fff"/>
                  <g id="Group_8" data-name="Group 8" transform="translate(347.067 93.105)">
                    <path id="Path_9" data-name="Path 9" d="M-3.741-19.895a3.694,3.694,0,0,0,1.1,3.226,3.933,3.933,0,0,0,2.277.757,3.934,3.934,0,0,0,2.277-.757,3.7,3.7,0,0,0,1.1-3.226V-28.04H4.539V-19.5a4.988,4.988,0,0,1-.869,3.187A4.953,4.953,0,0,1-.367-14.518,4.953,4.953,0,0,1-4.4-16.31,4.986,4.986,0,0,1-5.273-19.5V-28.04h1.532Z" transform="translate(5.273 28.04)" fill="#fff"/>
                  </g>
                  <g id="Group_9" data-name="Group 9" transform="translate(363.606 93.105)">
                    <path id="Path_10" data-name="Path 10" d="M0,0H2.815A7.714,7.714,0,0,1,7.907,1.553a6.377,6.377,0,0,1,2.36,5.1,6.242,6.242,0,0,1-2.422,5.1,7.093,7.093,0,0,1-5.051,1.533H0ZM1.532,11.889H2.877a6.063,6.063,0,0,0,3.954-1.195A5.006,5.006,0,0,0,8.694,6.651c0-3.186-2.318-5.257-5.817-5.257H1.532Z" fill="#fff"/>
                  </g>
                  <path id="Path_12" data-name="Path 12" d="M909.877-35.128h-1.532V-48.411h1.532Z" transform="translate(-528.49 141.516)" fill="#fff"/>
                  <g id="Group_11" data-name="Group 11" transform="translate(387.368 92.886)">
                    <path id="Path_13" data-name="Path 13" d="M0-16.782a6.921,6.921,0,0,1,7.183-6.871,6.921,6.921,0,0,1,7.183,6.871A6.921,6.921,0,0,1,7.183-9.912,6.921,6.921,0,0,1,0-16.782m1.574,0a5.525,5.525,0,0,0,5.609,5.477,5.526,5.526,0,0,0,5.609-5.477,5.525,5.525,0,0,0-5.609-5.476,5.525,5.525,0,0,0-5.609,5.476" transform="translate(0 23.653)" fill="#fff"/>
                  </g>
                </g>
              </svg> -->
            </div>
            <div class="burger-btn">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="nav-box">
              <div class="container">

                <nav>
                  <div class="nav__el active">Główna</div>
                  <div class="nav__el">Nasze kompetencje</div>
                  <div class="nav__el">Zaufali nam</div>
                  <div class="nav__el">Realizacje</div>
                  <div class="nav__el">O nas</div>
                  <div class="nav__el">Kontakt</div>
                </nav>
                <div class="nav-box__bottom">
                  <a href=""><img src="./images/icon-fb.png" alt="facebook icon" /></a>
                  <a href=""><img src="./images/icon-insta.png" alt="instagram icon" /></a>
                  <a href=""><img src="./images/icon-mail.png" alt="mail icon" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="additional__wrapper">

        <div class="header__wrapper">

          <div class="header__arrow">
            <div class="splide header__arrow__slider" role="group" aria-label="Splide Basic HTML Example">
              <div class="splide__track">
                <ul class="splide__list">
                  <li class="splide__slide">
                    <img src="./images/header_arrow.svg" alt="header arrow img" />
                  </li>
                  <li class="splide__slide">
                    <img src="./images/slide-1.png" alt="header arrow img" />
                  </li>
                  <li class="splide__slide">
                    <img src="./images/slide-2.png" alt="header arrow img" />
                  </li>
                  <li class="splide__slide">
                    <img src="./images/slide-3.png" alt="header arrow img" />
                  </li>
                  <li class="splide__slide">
                    <img src="./images/slide-4.png" alt="header arrow img" />
                  </li>
                  <li class="splide__slide">
                    <img src="./images/slide-5.png" alt="header arrow img" />
                  </li>
                  <li class="splide__slide">
                    <img src="./images/slide-6.png" alt="header arrow img" />
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="content">
            <p class="txt header-txt">
              Kompleksowe rozwiązania reklamowe - od pomysłu do gotowych realizacji! Skontaktuj się z nami już dziś i przekonaj dlaczego jesteśmy najlepszym wyborem dla Twojego biznesu!
            </p>
            <div class="heading header-heading">
              <h1><span>Podążamy</span> za Twoimi<br> potrzebami</h1>
              <div>
                <a href=""><img src="./images/icon-fb.png" alt="facebook icon" /></a>
                <a href=""><img src="./images/icon-insta.png" alt="instagram icon" /></a>
                <a href=""><img src="./images/icon-mail.png" alt="mail icon" /></a>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </header>
  <section class="offer navDestination">
    <div class="container">
      <div class="heading__box">
        <h2>Nasze <br /><b>kompetencje</b></h2>

        <p class="subheading">
          Jesteśmy tutaj, aby Cię wesprzeć! Zobacz, co możemy dla Ciebie zrobić.
        </p>
      </div>

      <div class="offer__content">
        <div class="offer__el">
          <p class="offer__el--heading">
            PROJEKTOWANIE <br /><b>GRAFICZNE</b>
          </p>

          <p class="offer__el--txt">
            Projekty graficzne, które spełniają Twoje oczekiwania. Nasza praca to Twoja satysfakcja.
          </p>
          <svg class="offer__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 162 162"><defs><style>.cls-1{fill:#81dda2;stroke-width:0px;}</style></defs><g id="Warstwa_1-2"><path id="Path_404" class="cls-1" d="M148.09,13.91H13.91v134.18h12.17V27.96h122.01v-14.05Z"/><path id="Path_405" class="cls-1" d="M64.72,91.17v56.92h49.78l-47.94-47.94-1.84-8.98Z"/><path id="Path_406" class="cls-1" d="M148.09,34.9H33.02v113.19h24.75V59.32h90.32v-24.42Z"/><path id="Path_407" class="cls-1" d="M148.09,117.4v-51.13h-57.89l8.5,1.74,49.39,49.39Z"/><path id="Path_408" class="cls-1" d="M95.25,74.4l-28.04-5.74,5.75,28.03,64,64,22.3-22.3-64-64Z"/></g></svg>
        </div>

        <div class="offer__el">
          <p class="offer__el--heading">MATERIAŁY <br /><b>POS</b></p>

          <p class="offer__el--txt">
            Kreatywne, skuteczne i profesjonalne rozwiązania promocyjne dla Twojej marki.
          </p>

          <svg class="offer__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 162 162"><defs><style>.cls-1{fill:#81dda2;stroke-width:0px;}</style></defs><g id="Warstwa_1-2"><path id="Path_402" class="cls-1" d="M83.57,13.94H13.94l64.49,134.11h69.62L83.57,13.94Z"/><path id="Path_403" class="cls-1" d="M19.42,147.85h50.91l-25.45-53.1-25.46,53.1Z"/></g></svg>
        </div>

        <div class="offer__el">
          <p class="offer__el--heading">DRUK <br /><b>STANDARDOWY</b></p>

          <p class="offer__el--txt">
            Profesjonalne usługi poligraficzne na różnorodnych materiałach - papier, folie, banery, etykiety i inne.
          </p>
          <svg class="offer__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 162 162"><defs><style>.cls-1{fill:#81dda2;stroke-width:0px;}</style></defs><path class="cls-1" d="M15.8,100.77v-39.53c-3.89,12.89-3.89,26.64,0,39.53Z"/><path class="cls-1" d="M22.81,116.43c2.59,4.25,5.64,8.2,9.09,11.78V33.79c-3.45,3.59-6.5,7.54-9.09,11.79v70.85Z"/><path class="cls-1" d="M37.56,133.47c3.25,2.69,6.74,5.07,10.43,7.11V21.4c-3.69,2.04-7.18,4.42-10.43,7.11v104.96Z"/><path class="cls-1" d="M52.32,142.8c3.78,1.77,7.73,3.17,11.77,4.21V15c-4.05,1.03-7.99,2.44-11.77,4.21v123.59Z"/><path class="cls-1" d="M67.06,147.69c4.31.9,8.7,1.37,13.1,1.42V12.89c-4.4.04-8.79.52-13.1,1.42v133.39Z"/><path class="cls-1" d="M129.16,32.83c-12.56-12.6-29.56-19.76-47.34-19.95v136.23c37.62-.45,67.75-31.32,67.29-68.94-.21-17.78-7.37-34.77-19.95-47.35Z"/></svg>
        </div>

        <div class="offer__el">
          <p class="offer__el--heading">PRODUKTY <br /><b>PREMIUM</b></p>

          <p class="offer__el--txt">
            Podkreśl prestiż swoich produktów - drukowanie premium na niestandardowych podłożach z uszlachetnieniami
          </p>
          <svg class="offer__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 162 162"><defs><style>.cls-1{fill:#81dda2;stroke-width:0px;}</style></defs><g id="Warstwa_1-2"><path id="Path_390" class="cls-1" d="M140.87,98.59l18.9-6.28-16.38-11.31,16.38-11.32-18.9-6.27,12.52-15.48-19.89-.66,7.63-18.38-19.27,4.95,2.17-19.79-17.11,10.17-3.5-19.6-13.53,14.61L81,1.43l-8.89,17.81-13.53-14.61-3.51,19.6-17.11-10.17,2.17,19.79-19.28-4.95,7.63,18.38-19.89.66,12.51,15.48-18.89,6.27,16.38,11.32-16.38,11.31,18.89,6.28-12.51,15.47,19.89.67-7.63,18.38,19.28-4.96-2.17,19.79,17.11-10.17,3.51,19.59,13.53-14.6,8.89,17.8,8.89-17.8,13.53,14.6,3.5-19.59,17.11,10.17-2.17-19.79,19.27,4.95-7.63-18.38,19.89-.66-12.51-15.48Z"/></g></svg>
        </div>

        <div class="offer__el">
          <p class="offer__el--heading">
            <b>KONFEKCJONOWANIE</b>
          </p>

          <p class="offer__el--txt">
            Nie trać czasu na konfekcjonowanie i pakowanie - zleć to nam, a Ty skup się na rozwijaniu swojego biznesu.
          </p>
          <svg class="offer__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 162 162"><defs><style>.cls-1{fill:#81dda2;stroke-width:0px;}</style></defs><g id="Warstwa_1-2"><path id="Path_397" class="cls-1" d="M84.45,96.81v62.84l63.45-42.14.19-62.86-63.64,42.16Z"/><path id="Path_398" class="cls-1" d="M81,2.35L14.18,46.63l66.82,44.27,66.82-44.27L81,2.35Z"/><path id="Path_399" class="cls-1" d="M14.12,117.5l63.45,42.15v-62.85L13.92,54.64l.2,62.86ZM66.44,102.52v37.06l-42.48-28.21-.14-37.09,42.62,28.24Z"/></g></svg>
        </div>

        <div class="offer__el">
          <p class="offer__el--heading">
            <b>MAGAZYNOWANIE</b>
          </p>

          <p class="offer__el--txt">
            Elastyczne rozwiązania logistyczne oraz bezpieczne i profesjonalne magazynowanie - zadbamy o Twoje produkty.
          </p>

          <svg class="offer__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 162 162"><defs><style>.cls-1{fill:#81dda2;stroke-width:0px;}</style></defs><g id="Warstwa_1-2"><rect id="Rectangle_100" class="cls-1" x="13.81" y="127.16" width="49.38" height="21.03"/><rect id="Rectangle_101" class="cls-1" x="98.81" y="127.16" width="49.38" height="21.03"/><rect id="Rectangle_102" class="cls-1" x="42.15" y="98.82" width="77.7" height="21.04"/><rect id="Rectangle_103" class="cls-1" x="13.81" y="70.48" width="49.38" height="21.04"/><rect id="Rectangle_104" class="cls-1" x="98.81" y="70.48" width="49.38" height="21.04"/><path id="Path_400" class="cls-1" d="M98.81,13.81v21.05h49.38V13.81h-49.38Z"/><rect id="Rectangle_105" class="cls-1" x="42.15" y="42.15" width="77.7" height="21.04"/><path id="Path_401" class="cls-1" d="M63.19,34.86V13.81H13.81v21.05h49.38Z"/></g></svg>
        </div>
      </div>
    </div>
  </section>

  <section class="trusted navDestination">
    <div class="container">
      <h2><b>Zaufali</b> nam</h2>

      <div class="splide trusted_slider">
        <div class="splide__track">
          <ul class="splide__list trusted_list">
            <li class="splide__slide">
              <img src="./images/logos/moliera2.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/haier.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/yes.webp" alt="logo image" />
            </li>

            <li class="splide__slide">
              <img src="./images/logos/nck.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/proexe.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/dentsu.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/the-bar.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/bespoke.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/pdb-invest.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/full-spoon.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/przychodnia-przyrodnicza.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/igs-production.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/science-4-beauty.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/frances.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/osmobud.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/formika.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/lesko.webp" alt="logo image" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="realizations navDestination">
    <div class="container">
      <h2>Realizacje</h2>

      <div class="realizations_wrapper">
        <div class="realizations_content">
          <div class="realizations_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="arrow" />
            <picture>
              <source media="(min-width:768px)" srcset="./images/realizations/desktop/big_realization_1.png" />
              <img src="./images/realizations/realization_1.png" alt="realization image" class="realizations_el_img" />
            </picture>
            <p>Moliera2</p>
          </div>
          <div class="realizations_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="arrow" />
            <picture>
              <source media="(min-width:768px)" srcset="./images/realizations/desktop/big_realization_2.png" />
              <img src="./images/realizations/realization_2.png" alt="realization image" class="realizations_el_img" />
            </picture>
            <p>POS Premium</p>
          </div>
          <div class="realizations_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="arrow" />
            <picture>
              <source media="(min-width:768px)" srcset="./images/realizations/desktop/big_realization_3.png" />
              <img src="./images/realizations/realization_3.png" alt="realization image" class="realizations_el_img" />
            </picture>
            <p>Prowansja</p>
          </div>
          <div class="realizations_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="arrow" />
            <picture>
              <source media="(min-width:768px)" srcset="./images/realizations/desktop/big_realization_4.png" />
              <img src="./images/realizations/realization_4.png" alt="realization image" class="realizations_el_img" />
            </picture>
            <p>Event Eufonie</p>
          </div>
          <div class="realizations_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="arrow" />
            <picture>
              <source media="(min-width:768px)" srcset="./images/realizations/desktop/big_realization_5.png" />
              <img src="./images/realizations/realization_5.png" alt="realization image" class="realizations_el_img" />
            </picture>
            <p>Zombie Dash</p>
          </div>
          <div class="realizations_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="arrow" />
            <picture>
              <source media="(min-width:768px)" srcset="./images/realizations/desktop/big_realization_6.png" />
              <img src="./images/realizations/realization_6.png" alt="realization image" class="realizations_el_img" />
            </picture>
            <p>Inne</p>
          </div>
          <!-- <div class="realizations_more">
            <div class="realizations_el">
              <img src="./images/realizations/arrow.png" alt="arrow image" class="arrow" />
              <picture>
                <source media="(min-width:768px)" srcset="./images/realizations/big_realization_6.png" />
                <img src="./images/realizations/realization_6.png" alt="realization image" class="realizations_el_img" />
              </picture>
              <p>Nazwa projektu i klienta</p>
            </div>
            <div class="realizations_el">
              <img src="./images/realizations/arrow.png" alt="arrow image" class="arrow" />
              <picture>
                <source media="(min-width:768px)" srcset="./images/realizations/big_realization_6.png" />
                <img src="./images/realizations/realization_6.png" alt="realization image" class="realizations_el_img" />
              </picture>
              <p>Nazwa projektu i klienta</p>
            </div>
            <div class="realizations_el">
              <img src="./images/realizations/arrow.png" alt="arrow image" class="arrow" />
              <picture>
                <source media="(min-width:768px)" srcset="./images/realizations/big_realization_6.png" />
                <img src="./images/realizations/realization_6.png" alt="realization image" class="realizations_el_img" />
              </picture>
              <p>Nazwa projektu i klienta</p>
            </div>
          </div> -->

          <!-- <div class="more_btn">więcej</div> -->
        </div>
        <div class="realizations_extended">
          <div class="realizations_extended_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="extended_arrow" />
            <picture>
              <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_1-lg.png" />
              <img src="./images/realizations/realization_1.png" alt="realization image" class="realizations_el_img" />
            </picture>
            <div class="extended_content">
              <div class="extended_txt">
                <p>Moliera2</p>
                <p>
                  Czarne wizytówki z efektownymi złoceniami i złoconymi brzegami. Unikatowy design wizytówki z pewnością zaciekawi Twoich klientów i partnerów biznesowych. Poznaj nasze niestandardowe produkty, które podkreślą Twój profesjonalizm i pozostawią niezapomniane wrażenie.
                </p>
              </div>

              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_1-1-lg.png" />
                <img src="./images/realizations/realization_1-1.png" alt="realizations image" />
              </picture>

              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_1-2-lg.png" />
                <img src="./images/realizations/realization_1-2.png" alt="realizations image" />
              </picture>
              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_1-3-lg.png" />
                <img src="./images/realizations/realization_1-3.png" alt="realizations image" />
              </picture>
            </div>
            <div class="realizations_extended_collapse">wróć</div>
          </div>

          <div class="realizations_extended_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="extended_arrow" />
            <picture>
              <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_2-lg.png" />
              <img src="./images/realizations/realization_2.png" alt="realization image" class="realizations_el_img" />
            </picture>
            <div class="extended_content">
              <div class="extended_txt">
                <p>POS Premium</p>
                <p>
                  Kierujemy się Twoimi oczekiwaniami, używając różnorodnych materiałów, takich jak folie metalizowane, folie PET i folie adhezyjne. W produkcji POS Premium skupiamy się na detalach oraz uszlachetnieniach takich jak lakier oraz złocenie. Sprawdź nasze wyjątkowe propozycje, które podkreślą charakter Twojej marki.
                </p>
              </div>

              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_2-1-lg.png" />
                <img src="./images/realizations/realization_2-1.png" alt="realizations image" />
              </picture>

              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_2-2-lg.png" />
                <img src="./images/realizations/realization_2-2.png" alt="realizations image" />
              </picture>
              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_2-3-lg.png" />
                <img src="./images/realizations/realization_2-3.png" alt="realizations image" />
              </picture>
            </div>
            <div class="realizations_extended_collapse">wróć</div>
          </div>

          <div class="realizations_extended_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="extended_arrow" />
            <picture>
              <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_3-lg.png" />
              <img src="./images/realizations/realization_3.png" alt="realization image" class="realizations_el_img" />
            </picture>
            <div class="extended_content">
              <div class="extended_txt">
                <p>Prowansja</p>
                <p>
                  Zapewnimy kompleksową obsługę, towarzysząc Ci od pierwszych koncepcji do finalnych rezultatów. Drukujemy niestandardowe ulotki, vouchery i bony upominkowe, tworząc wyjątkowe doświadczenia, które zachwycą Twoich klientów. Poznaj wszystkie możliwości, jakie daje papier.
                </p>
              </div>

              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_3-1-lg.png" />
                <img src="./images/realizations/realization_3-1.png" alt="realizations image" />
              </picture>

              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_3-2-lg.png" />
                <img src="./images/realizations/realization_3-2.png" alt="realizations image" />
              </picture>
              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_3-3-lg.png" />
                <img src="./images/realizations/realization_3-3.png" alt="realizations image" />
              </picture>
            </div>
            <div class="realizations_extended_collapse">wróć</div>
          </div>
          <div class="realizations_extended_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="extended_arrow" />
            <picture>
              <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_4-lg.png" />
              <img src="./images/realizations/realization_4.png" alt="realization image" class="realizations_el_img" />
            </picture>
            <div class="extended_content">
              <div class="extended_txt">
                <p>Event Eufonie</p>
                <p>
                  Eleganckie Złote szwy wzdłuż grzbietu dodają wyjątkowego charakteru materiałom promocyjnym. Jako profesjonaliści od projektu do realizacji, proponujemy rozwiązania idealnie dopasowane do unikatowego charakteru każdego wydarzenia. Odkryj możliwości złotego koloru.
                </p>
              </div>

              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_4-1-lg.png" />
                <img src="./images/realizations/realization_4-1.png" alt="realizations image" />
              </picture>

              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_4-2-lg.png" />
                <img src="./images/realizations/realization_4-2.png" alt="realizations image" />
              </picture>
              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_4-3-lg.png" />
                <img src="./images/realizations/realization_4-3.png" alt="realizations image" />
              </picture>
            </div>
            <div class="realizations_extended_collapse">wróć</div>
          </div>
          <div class="realizations_extended_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="extended_arrow" />
            <picture>
              <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_5-lg.png" />
              <img src="./images/realizations/realization_5.png" alt="realization image" class="realizations_el_img" />
            </picture>
            <div class="extended_content">
              <div class="extended_txt">
                <p>Zombie Dash</p>
                <p>
                  Odkryj ekskluzywne papierowe materiały marketingowe, starannie dostosowane do potrzeb marek odzieżowych. Jako Twoi kreatywni partnerzy, zapewniamy kompleksową obsługę - od projektowania do dostawy. Nasze niestandardowe rozwiązania nie tylko wyeksponują styl Twojej marki, ale także zachwycą wysoką jakością surowców. Poznaj piękno fakturowanych papierów.
                </p>
              </div>

              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_5-1-lg.png" />
                <img src="./images/realizations/realization_5-1.png" alt="realizations image" />
              </picture>

              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_5-2-lg.png" />
                <img src="./images/realizations/realization_5-2.png" alt="realizations image" />
              </picture>
              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_5-3-lg.png" />
                <img src="./images/realizations/realization_5-3.png" alt="realizations image" />
              </picture>
            </div>
            <div class="realizations_extended_collapse">wróć</div>
          </div>
          <div class="realizations_extended_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="extended_arrow" />
            <picture>
              <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_6-lg.png" />
              <img src="./images/realizations/realization_6.png" alt="realization image" class="realizations_el_img" />
            </picture>
            <div class="extended_content">
              <div class="extended_txt">
                <p>Inne</p>
                <p>
                  Tworzymy produkty, które spełniają unikalne potrzeby naszych klientów. Pozwól się zaskoczyć dopasowaniem do Twoich oczekiwań i odkryj, co sprawia, że nasza oferta wyróżnia się spośród innych. Odkryj pełnię naszych możliwości.
                </p>
              </div>

              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_6-1-lg.png" />
                <img src="./images/realizations/realization_6-1.png" alt="realizations image" />
              </picture>

              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_6-2-lg.png" />
                <img src="./images/realizations/realization_6-2.png" alt="realizations image" />
              </picture>
              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_6-3-lg.png" />
                <img src="./images/realizations/realization_6-3.png" alt="realizations image" />
              </picture>
            </div>
            <div class="realizations_extended_collapse">wróć</div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="about navDestination">
    <div class="wrapper">
      <div class="about_content">
        <div class="container">
          <p class="about_heading">O nas</p>

          <p class="about_txt">
            Nasz zespół to młodzi, kreatywni specjaliści poligrafii z doświadczeniem w pracy z marketingiem dużych korporacji, e&#8209;commerce i agencji eventowych.
          </p>

          <p class="about_txt">
            Jesteśmy skoncentrowani na potrzebach klienta i radzimy sobie z każdym zadaniem, nawet tym pozornie niemożliwym.
          </p>

          <p class="about_txt mb-0">
            Szukasz ciekawych pomysłów? <b>Skontaktuj&nbsp;się z nami, a pomożemy Ci znaleźć inspirujące rozwiązania!</b>
          </p>
        </div>
      </div>
      <div class="about_bosses">

        <div>
          <img src="./images/goat.png" alt="boss image" />
          <p>Karol <br />Kozicki <br /><i>CEO</i></p>
        </div>
        <div>
          <img src="./images/silentkiller.png" alt="boss image" />
          <p>Łukasz <br />Cichy <br /><i>CEO</i></p>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer navDestination">
    <div class="container">
      <div class="footer_heading">
        <h2>
          <span class="secondary-color">Skontaktuj się</span> <br /><b>z nami</b>
        </h2>
        <img src="./images/footer-logo.svg" alt="footer logo" />
      </div>

      <div class="footer_content">
        <form action="https://formspree.io/f/xjvnkbwv" method="post" class="form">
          <div class="form_el">
            <label for="name"></label>
            <input type="text" name="name" id="name" placeholder="IMIĘ" />
          </div>

          <div class="form_el">
            <label for="email"></label>
            <input type="email" name="email" id="mail" placeholder="E-MAIL" />
          </div>

          <div class="form_el form_el--textarea">
            <label for="message"></label>
            <textarea name="message" id="message" placeholder="TREŚĆ WIADOMOŚCI"></textarea>
          </div>

          <div class="form_el form_el--send">
            <span>Klikając przycisk 'Wyślij', zgadzasz się na przetwarzanie swoich danych osobowych w celu udzielenia odpowiedzi na Twoje zapytanie zgodnie z&nbsp;obowiązującym prawem o ochronie danych osobowych (RODO). Zapoznaj się z naszą Polityką Prywatności, aby dowiedzieć się więcej na temat przetwarzania danych osobowych.</span>
            <input type="submit" value="wyślij" class="send_btn" />
          </div>
        </form>

        <div class="footer_txt">
          <div class="company_details">
            <div class="adress">
              <p>ul. Banderii 4/244</p>
              <span>|</span>
              <p>01-164 Warszawa</p>
              <span>|</span>
              <p>NIP: 5272957016</p>
            </div>
            <p class="mail-adress copy-el">biuro@sigostudio.pl</p>
          </div>

          <div class="company_leaders">
            <div>
              <p>Karol Kozicki</p>
              <p>+48 797 188 417</p>
              <p class="copy-el">karol.kozicki@sigostudio.pl</p>
            </div>
            <div>
              <p>Łukasz Cichy</p>
              <p>+48 600 398 905</p>
              <p class="copy-el">lukasz.cichy@sigostudio.pl</p>
            </div>
          </div>

          <a href="#return" class="return_link"><img src="./images/return.svg" alt="return image" /></a>
        </div>
      </div>

      <div class="footer__links">
        <a href="./privacy.pdf" target="_blank">Polityka prywatności</a>
        |
        <a href="./regulations.pdf" target="_blank">Regulamin</a>
      </div>

    </div>
  </footer>
</body>

</html>