<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8" />
  <title>SIGO</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="SIGO - kompleksowe rozwiązania reklamowe" />
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#16270F">
<meta name="msapplication-TileColor" content="#16270F">
<meta name="theme-color" content="#16270F">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet" />


  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">

</head>


<body>
  <header class="header navDestination" id="return">
    <div class="container">
      <div class="top">
        <img src="./images/logo.png" alt="logo image" class="logo" />
        <img src="./images/burger.png" alt="burger menu button" class="burger-btn" />
        <div class="nav-box">
          <div class="container">
            <div class="nav-box__top">
              <img src="./images/logo.png" alt="logo image" class="logo--burger" />
              <img src="./images/close.png" alt="close image" class="close-nav" />
            </div>
            <nav>
              <div class="nav__el"><b>Główna</b></div>
              <div class="nav__el">Nasze kompetencje</div>
              <div class="nav__el">Zaufali nam</div>
              <div class="nav__el">Realizacje</div>
              <div class="nav__el">O nas</div>
              <div class="nav__el">Kontakt</div>
            </nav>
            <div class="nav-box__bottom">
              <a href=""><img src="./images/icon-fb.png" alt="facebook icon" /></a>
              <a href=""><img src="./images/icon-insta.png" alt="instagram icon" /></a>
              <a href=""><img src="./images/icon-mail.png" alt="mail icon" /></a>
            </div>
          </div>
        </div>
      </div>

      <div class="header__wrapper">

        <div class="header__arrow">
          <div class="splide header__arrow__slider" role="group" aria-label="Splide Basic HTML Example">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide">
                  <img src="./images/header_arrow.svg" alt="header arrow img" />
                </li>
                <li class="splide__slide">
                  <img src="./images/slide-1.png" alt="header arrow img" />
                </li>
                <li class="splide__slide">
                  <img src="./images/slide-2.png" alt="header arrow img" />
                </li>
                <li class="splide__slide">
                  <img src="./images/slide-3.png" alt="header arrow img" />
                </li>
                <li class="splide__slide">
                  <img src="./images/slide-4.png" alt="header arrow img" />
                </li>
                <li class="splide__slide">
                  <img src="./images/slide-5.png" alt="header arrow img" />
                </li>
                <li class="splide__slide">
                  <img src="./images/slide-6.png" alt="header arrow img" />
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="content">
          <p class="txt header-txt">
            Kompleksowe rozwiązania reklamowe - od pomysłu do gotowych realizacji! Skontaktuj się z nami już dziś i przekonaj dlaczego jesteśmy najlepszym wyborem dla Twojego biznesu!
          </p>
          <div class="heading header-heading">
            <h1><span>Podążamy</span> za Twoimi<br> potrzebami</h1>
            <div>
              <a href=""><img src="./images/icon-fb.png" alt="facebook icon" /></a>
              <a href=""><img src="./images/icon-insta.png" alt="instagram icon" /></a>
              <a href=""><img src="./images/icon-mail.png" alt="mail icon" /></a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </header>
  <section class="offer navDestination">
    <div class="container">
      <div class="heading__box">
        <h2>Nasze <br /><b>kompetencje</b></h2>

        <p class="subheading">
          Jesteśmy tutaj, aby Cię wesprzeć! Zobacz, co możemy dla Ciebie zrobić.
        </p>
      </div>

      <div class="offer__content">
        <div class="offer__el">
          <p class="offer__el--heading">
            PROJEKTOWANIE <br /><b>GRAFICZNE</b>
          </p>

          <p class="offer__el--txt">
            Projekty graficzne, które spełniają Twoje oczekiwania. Nasza praca to Twoja satysfakcja.
          </p>
        </div>

        <div class="offer__el">
          <p class="offer__el--heading">MATERIAŁY <br /><b>POS</b></p>

          <p class="offer__el--txt">
            Kreatywne, skuteczne i profesjonalne rozwiązania promocyjne dla Twojej marki.
          </p>
        </div>

        <div class="offer__el">
          <p class="offer__el--heading">DRUK <br /><b>STANDARDOWY</b></p>

          <p class="offer__el--txt">
            Profesjonalne usługi poligraficzne na różnorodnych materiałach - papier, folie, banery, etykiety i inne.
          </p>
        </div>

        <div class="offer__el">
          <p class="offer__el--heading">PRODUKTY <br /><b>PREMIUM</b></p>

          <p class="offer__el--txt">
            Podkreśl prestiż swoich produktów - drukowanie premium na niestandardowych podłożach z uszlachetnieniami
          </p>
        </div>

        <div class="offer__el">
          <p class="offer__el--heading">
            <b>KONFEKCJONOWANIE</b>
          </p>

          <p class="offer__el--txt">
            Nie trać czasu na konfekcjonowanie i pakowanie - zleć to nam, a Ty skup się na rozwijaniu swojego biznesu.
          </p>
        </div>

        <div class="offer__el">
          <p class="offer__el--heading">
            <b>MAGAZYNOWANIE</b>
          </p>

          <p class="offer__el--txt">
            Elastyczne rozwiązania logistyczne oraz bezpieczne i profesjonalne magazynowanie - zadbamy o Twoje produkty.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="trusted navDestination">
    <div class="container">
      <h2><b>Zaufali</b> nam</h2>

      <div class="splide trusted_slider">
        <div class="splide__track">
          <ul class="splide__list trusted_list">
            <li class="splide__slide">
              <img src="./images/logos/moliera2.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/haier.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/yes.webp" alt="logo image" />
            </li>

            <li class="splide__slide">
              <img src="./images/logos/nck.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/proexe.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/dentsu.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/the-bar.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/bespoke.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/pdb-invest.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/full-spoon.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/przychodnia-przyrodnicza.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/igs-production.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/science-4-beauty.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/frances.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/osmobud.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/formika.webp" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/lesko.webp" alt="logo image" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="realizations navDestination">
    <div class="container">
      <h2>Realizacje</h2>

      <div class="realizations_wrapper">
        <div class="realizations_content">
          <div class="realizations_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="arrow" />
            <picture>
              <source media="(min-width:768px)" srcset="./images/realizations/desktop/big_realization_1.png" />
              <img src="./images/realizations/realization_1.png" alt="realization image" class="realizations_el_img" />
            </picture>
            <p>Moliera2</p>
          </div>
          <div class="realizations_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="arrow" />
            <picture>
              <source media="(min-width:768px)" srcset="./images/realizations/desktop/big_realization_2.png" />
              <img src="./images/realizations/realization_2.png" alt="realization image" class="realizations_el_img" />
            </picture>
            <p>POS Premium</p>
          </div>
          <div class="realizations_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="arrow" />
            <picture>
              <source media="(min-width:768px)" srcset="./images/realizations/desktop/big_realization_3.png" />
              <img src="./images/realizations/realization_3.png" alt="realization image" class="realizations_el_img" />
            </picture>
            <p>Prowansja</p>
          </div>
          <div class="realizations_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="arrow" />
            <picture>
              <source media="(min-width:768px)" srcset="./images/realizations/desktop/big_realization_4.png" />
              <img src="./images/realizations/realization_4.png" alt="realization image" class="realizations_el_img" />
            </picture>
            <p>Event Eufonie</p>
          </div>
          <div class="realizations_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="arrow" />
            <picture>
              <source media="(min-width:768px)" srcset="./images/realizations/desktop/big_realization_5.png" />
              <img src="./images/realizations/realization_5.png" alt="realization image" class="realizations_el_img" />
            </picture>
            <p>Zombie Dash</p>
          </div>
          <div class="realizations_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="arrow" />
            <picture>
              <source media="(min-width:768px)" srcset="./images/realizations/desktop/big_realization_6.png" />
              <img src="./images/realizations/realization_6.png" alt="realization image" class="realizations_el_img" />
            </picture>
            <p>Inne</p>
          </div>
          <!-- <div class="realizations_more">
            <div class="realizations_el">
              <img src="./images/realizations/arrow.png" alt="arrow image" class="arrow" />
              <picture>
                <source media="(min-width:768px)" srcset="./images/realizations/big_realization_6.png" />
                <img src="./images/realizations/realization_6.png" alt="realization image" class="realizations_el_img" />
              </picture>
              <p>Nazwa projektu i klienta</p>
            </div>
            <div class="realizations_el">
              <img src="./images/realizations/arrow.png" alt="arrow image" class="arrow" />
              <picture>
                <source media="(min-width:768px)" srcset="./images/realizations/big_realization_6.png" />
                <img src="./images/realizations/realization_6.png" alt="realization image" class="realizations_el_img" />
              </picture>
              <p>Nazwa projektu i klienta</p>
            </div>
            <div class="realizations_el">
              <img src="./images/realizations/arrow.png" alt="arrow image" class="arrow" />
              <picture>
                <source media="(min-width:768px)" srcset="./images/realizations/big_realization_6.png" />
                <img src="./images/realizations/realization_6.png" alt="realization image" class="realizations_el_img" />
              </picture>
              <p>Nazwa projektu i klienta</p>
            </div>
          </div> -->

          <!-- <div class="more_btn">więcej</div> -->
        </div>
        <div class="realizations_extended">
          <div class="realizations_extended_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="extended_arrow" />
            <picture>
              <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_1-lg.png" />
              <img src="./images/realizations/realization_1.png" alt="realization image" class="realizations_el_img" />
            </picture>
            <div class="extended_content">
              <div class="extended_txt">
                <p>Moliera2</p>
                <p>
                  Czarne wizytówki z efektownymi złoceniami i złoconymi brzegami. Unikatowy design wizytówki z pewnością zaciekawi Twoich klientów i partnerów biznesowych. Poznaj nasze niestandardowe produkty, które podkreślą Twój profesjonalizm i pozostawią niezapomniane wrażenie.
                </p>
              </div>

              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_1-1-lg.png" />
                <img src="./images/realizations/realization_1-1.png" alt="realizations image" />
              </picture>

              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_1-2-lg.png" />
                <img src="./images/realizations/realization_1-2.png" alt="realizations image" />
              </picture>
              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_1-3-lg.png" />
                <img src="./images/realizations/realization_1-3.png" alt="realizations image" />
              </picture>
            </div>
            <div class="realizations_extended_collapse">wróć</div>
          </div>

          <div class="realizations_extended_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="extended_arrow" />
            <picture>
              <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_2-lg.png" />
              <img src="./images/realizations/realization_2.png" alt="realization image" class="realizations_el_img" />
            </picture>
            <div class="extended_content">
              <div class="extended_txt">
                <p>POS Premium</p>
                <p>
                  Kierujemy się Twoimi oczekiwaniami, używając różnorodnych materiałów, takich jak folie metalizowane, folie PET i folie adhezyjne. W produkcji POS Premium skupiamy się na detalach oraz uszlachetnieniach takich jak lakier oraz złocenie. Sprawdź nasze wyjątkowe propozycje, które podkreślą charakter Twojej marki.
                </p>
              </div>

              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_2-1-lg.png" />
                <img src="./images/realizations/realization_2-1.png" alt="realizations image" />
              </picture>

              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_2-2-lg.png" />
                <img src="./images/realizations/realization_2-2.png" alt="realizations image" />
              </picture>
              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_2-3-lg.png" />
                <img src="./images/realizations/realization_2-3.png" alt="realizations image" />
              </picture>
            </div>
            <div class="realizations_extended_collapse">wróć</div>
          </div>

          <div class="realizations_extended_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="extended_arrow" />
            <picture>
              <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_3-lg.png" />
              <img src="./images/realizations/realization_3.png" alt="realization image" class="realizations_el_img" />
            </picture>
            <div class="extended_content">
              <div class="extended_txt">
                <p>Prowansja</p>
                <p>
                  Zapewnimy kompleksową obsługę, towarzysząc Ci od pierwszych koncepcji do finalnych rezultatów. Drukujemy niestandardowe ulotki, vouchery i bony upominkowe, tworząc wyjątkowe doświadczenia, które zachwycą Twoich klientów. Poznaj wszystkie możliwości, jakie daje papier.
                </p>
              </div>

              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_3-1-lg.png" />
                <img src="./images/realizations/realization_3-1.png" alt="realizations image" />
              </picture>

              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_3-2-lg.png" />
                <img src="./images/realizations/realization_3-2.png" alt="realizations image" />
              </picture>
              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_3-3-lg.png" />
                <img src="./images/realizations/realization_3-3.png" alt="realizations image" />
              </picture>
            </div>
            <div class="realizations_extended_collapse">wróć</div>
          </div>
          <div class="realizations_extended_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="extended_arrow" />
            <picture>
              <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_4-lg.png" />
              <img src="./images/realizations/realization_4.png" alt="realization image" class="realizations_el_img" />
            </picture>
            <div class="extended_content">
              <div class="extended_txt">
                <p>Event Eufonie</p>
                <p>
                  Eleganckie Złote szwy wzdłuż grzbietu dodają wyjątkowego charakteru materiałom promocyjnym. Jako profesjonaliści od projektu do realizacji, proponujemy rozwiązania idealnie dopasowane do unikatowego charakteru każdego wydarzenia. Odkryj możliwości złotego koloru.
                </p>
              </div>

              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_4-1-lg.png" />
                <img src="./images/realizations/realization_4-1.png" alt="realizations image" />
              </picture>

              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_4-2-lg.png" />
                <img src="./images/realizations/realization_4-2.png" alt="realizations image" />
              </picture>
              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_4-3-lg.png" />
                <img src="./images/realizations/realization_4-3.png" alt="realizations image" />
              </picture>
            </div>
            <div class="realizations_extended_collapse">wróć</div>
          </div>
          <div class="realizations_extended_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="extended_arrow" />
            <picture>
              <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_5-lg.png" />
              <img src="./images/realizations/realization_5.png" alt="realization image" class="realizations_el_img" />
            </picture>
            <div class="extended_content">
              <div class="extended_txt">
                <p>Zombie Dash</p>
                <p>
                  Odkryj ekskluzywne papierowe materiały marketingowe, starannie dostosowane do potrzeb marek odzieżowych. Jako Twoi kreatywni partnerzy, zapewniamy kompleksową obsługę - od projektowania do dostawy. Nasze niestandardowe rozwiązania nie tylko wyeksponują styl Twojej marki, ale także zachwycą wysoką jakością surowców. Poznaj piękno fakturowanych papierów.
                </p>
              </div>

              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_5-1-lg.png" />
                <img src="./images/realizations/realization_5-1.png" alt="realizations image" />
              </picture>

              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_5-2-lg.png" />
                <img src="./images/realizations/realization_5-2.png" alt="realizations image" />
              </picture>
              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_5-3-lg.png" />
                <img src="./images/realizations/realization_5-3.png" alt="realizations image" />
              </picture>
            </div>
            <div class="realizations_extended_collapse">wróć</div>
          </div>
          <div class="realizations_extended_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="extended_arrow" />
            <picture>
              <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_6-lg.png" />
              <img src="./images/realizations/realization_6.png" alt="realization image" class="realizations_el_img" />
            </picture>
            <div class="extended_content">
              <div class="extended_txt">
                <p>Inne</p>
                <p>
                  Tworzymy produkty, które spełniają unikalne potrzeby naszych klientów. Pozwól się zaskoczyć dopasowaniem do Twoich oczekiwań i odkryj, co sprawia, że nasza oferta wyróżnia się spośród innych. Odkryj pełnię naszych możliwości.
                </p>
              </div>

              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_6-1-lg.png" />
                <img src="./images/realizations/realization_6-1.png" alt="realizations image" />
              </picture>

              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_6-2-lg.png" />
                <img src="./images/realizations/realization_6-2.png" alt="realizations image" />
              </picture>
              <picture>
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_6-3-lg.png" />
                <img src="./images/realizations/realization_6-3.png" alt="realizations image" />
              </picture>
            </div>
            <div class="realizations_extended_collapse">wróć</div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="about navDestination">
    <div class="wrapper">
      <div class="about_content">
        <div class="container">
          <p class="about_heading">O nas</p>

          <p class="about_txt">
            Nasz zespół to młodzi, kreatywni specjaliści poligrafii z doświadczeniem w pracy z marketingiem dużych korporacji, e&#8209;commerce i agencji eventowych.
          </p>

          <p class="about_txt">
            Jesteśmy skoncentrowani na potrzebach klienta i radzimy sobie z każdym zadaniem, nawet tym pozornie niemożliwym.
          </p>

          <p class="about_txt mb-0">
            Szukasz ciekawych pomysłów? <b>Skontaktuj&nbsp;się z nami, a pomożemy Ci znaleźć inspirujące rozwiązania!</b>
          </p>
        </div>
      </div>
      <div class="about_bosses">

        <div>
          <img src="./images/goat.png" alt="boss image" />
          <p>Karol <br />Kozicki <br /><i>CEO</i></p>
        </div>
        <div>
          <img src="./images/silentkiller.png" alt="boss image" />
          <p>Łukasz <br />Cichy <br /><i>CEO</i></p>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer navDestination">
    <div class="container">
      <div class="footer_heading">
        <h2>
          <span class="secondary-color">Skontaktuj się</span> <br /><b>z nami</b>
        </h2>
        <img src="./images/footer-logo.svg" alt="footer logo" />
      </div>

      <div class="footer_content">
        <form  action="https://formspree.io/f/xjvnkbwv" method="post" class="form">
          <div class="form_el">
            <label for="name"></label>
            <input type="text" name="name" id="name" placeholder="IMIĘ" />
          </div>

          <div class="form_el">
            <label for="email"></label>
            <input type="email" name="email" id="mail" placeholder="E-MAIL" />
          </div>

          <div class="form_el form_el--textarea">
            <label for="message"></label>
            <textarea name="message" id="message" placeholder="TREŚĆ WIADOMOŚCI"></textarea>
          </div>

          <div class="form_el form_el--send">
            <input type="submit" value="wyślij" class="send_btn" />
          </div>
        </form>

        <div class="footer_txt">
          <div class="company_details">
            <div class="adress">
              <p>ul. Banderii 4/244</p>
              <span>|</span>
              <p>01-164 Warszawa</p>
              <span>|</span>
              <p>NIP: 5272957016</p>
            </div>
            <p class="mail-adress copy-el">biuro@sigostudio.pl</p>
          </div>

          <div class="company_leaders">
            <div>
              <p>Karol Kozicki</p>
              <p>+48 797 188 417</p>
              <p class="copy-el">karol.kozicki@sigostudio.pl</p>
            </div>
            <div>
              <p>Łukasz Cichy</p>
              <p>+48 600 398 905</p>
              <p class="copy-el">lukasz.cichy@sigostudio.pl</p>
            </div>
          </div>

          <a href="#return" class="return_link"><img src="./images/return.svg" alt="return image" /></a>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>