<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8" />
  <title>SIGO</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Kompleksowe rozwiązania reklamowe - od pomysłu do gotowych realizacji! Skontaktuj się z nami już dziś i przekonaj dlaczego jesteśmy najlepszym wyborem dla Twojego biznesu!" />
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#16270F">
  <meta name="msapplication-TileColor" content="#16270F">
  <meta name="theme-color" content="#16270F">
</head>


<body>
  <header class="header navDestination" id="return">

    <div class="topbar">
      <div class="topbar__wrapper">
        <div class="container">
          <div class="top">
            <div class="logo">
              <img class="logo-s" src="./images/main-logo/s.png" alt="logo image" />
              <img class="logo-i" src="./images/main-logo/i.png" alt="logo image" />
              <img class="logo-g" src="./images/main-logo/g.png" alt="logo image" />
              <img class="logo-ostudio" src="./images/main-logo/ostudio.png" alt="logo image" />


            </div>
            <div class="burger-btn">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="nav-box">
              <div class="container">

                <nav>
                  <div class="nav__el active">Główna</div>
                  <div class="nav__el">Nasze kompetencje</div>
                  <div class="nav__el">Zaufali nam</div>
                  <div class="nav__el">Realizacje</div>
                  <div class="nav__el">O nas</div>
                  <div class="nav__el">Kontakt</div>
                </nav>
                <div class="nav-box__bottom">
                  <a href="https://www.facebook.com/SIGOstudio" target="_blank"><img src="./images/icon-fb.png" alt="facebook icon" /></a>
                  <a href="https://www.instagram.com/sigo_studio/" target="_blank"><img src="./images/icon-insta.png" alt="instagram icon" /></a>
                  <a href="#contact"><img src="./images/icon-mail.png" alt="mail icon" /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="additional__wrapper">

        <div class="header__wrapper">

          <div class="header__arrow">
            <div class="splide header__arrow__slider" role="group" aria-label="Splide Basic HTML Example">
              <div class="splide__track">
                <ul class="splide__list">
                  <li class="splide__slide">
                    <img src="./images/header_arrow.svg" alt="header arrow img" />
                  </li>
                  <li class="splide__slide">
                    <img src="./images/slide-1.webp" alt="header arrow img" />
                  </li>
                  <li class="splide__slide">
                    <img src="./images/slide-2.webp" alt="header arrow img" />
                  </li>
                  <li class="splide__slide">
                    <img src="./images/slide-3.webp" alt="header arrow img" />
                  </li>
                  <li class="splide__slide">
                    <img src="./images/slide-4.webp" alt="header arrow img" />
                  </li>
                  <li class="splide__slide">
                    <img src="./images/slide-5.webp" alt="header arrow img" />
                  </li>
                  <li class="splide__slide">
                    <img src="./images/slide-6.webp" alt="header arrow img" />
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="content">
            <p class="txt header-txt">
              Kompleksowe rozwiązania reklamowe - od pomysłu do gotowych realizacji! Skontaktuj się z nami już dziś i przekonaj dlaczego jesteśmy najlepszym wyborem dla Twojego biznesu!
            </p>
            <div class="heading header-heading">
              <h1><span>Podążamy</span> za Twoimi<br> potrzebami</h1>
              <div>
                <a href="https://www.facebook.com/SIGOstudio" target="_blank"><img src="./images/icon-fb.png" alt="facebook icon" /></a>
                <a href="https://www.instagram.com/sigo_studio/" target="_blank"><img src="./images/icon-insta.png" alt="instagram icon" /></a>
                <a href="#contact"><img src="./images/icon-mail.png" alt="mail icon" /></a>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </header>
  <section class="offer navDestination">
    <div class="container">
      <div class="heading__box">
        <h2>Nasze <br /><b>kompetencje</b></h2>

        <p class="subheading">
          Jesteśmy tutaj, aby Cię wesprzeć! Zobacz, co możemy dla Ciebie zrobić.
        </p>
      </div>

      <div class="offer__content">
        <div class="offer__el">
          <p class="offer__el--heading">
            PROJEKTOWANIE <br /><b>GRAFICZNE</b>
          </p>

          <p class="offer__el--txt">
            Projekty graficzne, które spełniają Twoje oczekiwania. Nasza praca to Twoja satysfakcja.
          </p>
          <svg class="offer__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 162 162"><defs><style>.cls-1{fill:#81dda2;stroke-width:0px;}</style></defs><g id="Warstwa_1-2"><path id="Path_404" class="cls-1" d="M148.09,13.91H13.91v134.18h12.17V27.96h122.01v-14.05Z"/><path id="Path_405" class="cls-1" d="M64.72,91.17v56.92h49.78l-47.94-47.94-1.84-8.98Z"/><path id="Path_406" class="cls-1" d="M148.09,34.9H33.02v113.19h24.75V59.32h90.32v-24.42Z"/><path id="Path_407" class="cls-1" d="M148.09,117.4v-51.13h-57.89l8.5,1.74,49.39,49.39Z"/><path id="Path_408" class="cls-1" d="M95.25,74.4l-28.04-5.74,5.75,28.03,64,64,22.3-22.3-64-64Z"/></g></svg>
        </div>

        <div class="offer__el">
          <p class="offer__el--heading">MATERIAŁY <br /><b>POS</b></p>

          <p class="offer__el--txt">
            Kreatywne, skuteczne i profesjonalne rozwiązania promocyjne dla Twojej marki.
          </p>

          <svg class="offer__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 162 162"><defs><style>.cls-1{fill:#81dda2;stroke-width:0px;}</style></defs><g id="Warstwa_1-2"><path id="Path_402" class="cls-1" d="M83.57,13.94H13.94l64.49,134.11h69.62L83.57,13.94Z"/><path id="Path_403" class="cls-1" d="M19.42,147.85h50.91l-25.45-53.1-25.46,53.1Z"/></g></svg>
        </div>

        <div class="offer__el">
          <p class="offer__el--heading">DRUK <br /><b>STANDARDOWY</b></p>

          <p class="offer__el--txt">
            Profesjonalne usługi poligraficzne na różnorodnych materiałach - papier, folie, banery, etykiety i inne.
          </p>
          <svg class="offer__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 162 162"><defs><style>.cls-1{fill:#81dda2;stroke-width:0px;}</style></defs><path class="cls-1" d="M15.8,100.77v-39.53c-3.89,12.89-3.89,26.64,0,39.53Z"/><path class="cls-1" d="M22.81,116.43c2.59,4.25,5.64,8.2,9.09,11.78V33.79c-3.45,3.59-6.5,7.54-9.09,11.79v70.85Z"/><path class="cls-1" d="M37.56,133.47c3.25,2.69,6.74,5.07,10.43,7.11V21.4c-3.69,2.04-7.18,4.42-10.43,7.11v104.96Z"/><path class="cls-1" d="M52.32,142.8c3.78,1.77,7.73,3.17,11.77,4.21V15c-4.05,1.03-7.99,2.44-11.77,4.21v123.59Z"/><path class="cls-1" d="M67.06,147.69c4.31.9,8.7,1.37,13.1,1.42V12.89c-4.4.04-8.79.52-13.1,1.42v133.39Z"/><path class="cls-1" d="M129.16,32.83c-12.56-12.6-29.56-19.76-47.34-19.95v136.23c37.62-.45,67.75-31.32,67.29-68.94-.21-17.78-7.37-34.77-19.95-47.35Z"/></svg>
        </div>

        <div class="offer__el">
          <p class="offer__el--heading">PRODUKTY <br /><b>PREMIUM</b></p>

          <p class="offer__el--txt">
            Podkreśl prestiż swoich produktów - drukowanie premium na niestandardowych podłożach z uszlachetnieniami
          </p>
          <svg class="offer__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 162 162"><defs><style>.cls-1{fill:#81dda2;stroke-width:0px;}</style></defs><g id="Warstwa_1-2"><path id="Path_390" class="cls-1" d="M140.87,98.59l18.9-6.28-16.38-11.31,16.38-11.32-18.9-6.27,12.52-15.48-19.89-.66,7.63-18.38-19.27,4.95,2.17-19.79-17.11,10.17-3.5-19.6-13.53,14.61L81,1.43l-8.89,17.81-13.53-14.61-3.51,19.6-17.11-10.17,2.17,19.79-19.28-4.95,7.63,18.38-19.89.66,12.51,15.48-18.89,6.27,16.38,11.32-16.38,11.31,18.89,6.28-12.51,15.47,19.89.67-7.63,18.38,19.28-4.96-2.17,19.79,17.11-10.17,3.51,19.59,13.53-14.6,8.89,17.8,8.89-17.8,13.53,14.6,3.5-19.59,17.11,10.17-2.17-19.79,19.27,4.95-7.63-18.38,19.89-.66-12.51-15.48Z"/></g></svg>
        </div>

        <div class="offer__el">
          <p class="offer__el--heading">
            <b>KONFEKCJONOWANIE</b>
          </p>

          <p class="offer__el--txt">
            Nie trać czasu na konfekcjonowanie i pakowanie - zleć to nam, a Ty skup się na rozwijaniu swojego biznesu.
          </p>
          <svg class="offer__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 162 162"><defs><style>.cls-1{fill:#81dda2;stroke-width:0px;}</style></defs><g id="Warstwa_1-2"><path id="Path_397" class="cls-1" d="M84.45,96.81v62.84l63.45-42.14.19-62.86-63.64,42.16Z"/><path id="Path_398" class="cls-1" d="M81,2.35L14.18,46.63l66.82,44.27,66.82-44.27L81,2.35Z"/><path id="Path_399" class="cls-1" d="M14.12,117.5l63.45,42.15v-62.85L13.92,54.64l.2,62.86ZM66.44,102.52v37.06l-42.48-28.21-.14-37.09,42.62,28.24Z"/></g></svg>
        </div>

        <div class="offer__el">
          <p class="offer__el--heading">
            <b>MAGAZYNOWANIE</b>
          </p>

          <p class="offer__el--txt">
            Elastyczne rozwiązania logistyczne oraz bezpieczne i profesjonalne magazynowanie - zadbamy o Twoje produkty.
          </p>

          <svg class="offer__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 162 162"><defs><style>.cls-1{fill:#81dda2;stroke-width:0px;}</style></defs><g id="Warstwa_1-2"><rect id="Rectangle_100" class="cls-1" x="13.81" y="127.16" width="49.38" height="21.03"/><rect id="Rectangle_101" class="cls-1" x="98.81" y="127.16" width="49.38" height="21.03"/><rect id="Rectangle_102" class="cls-1" x="42.15" y="98.82" width="77.7" height="21.04"/><rect id="Rectangle_103" class="cls-1" x="13.81" y="70.48" width="49.38" height="21.04"/><rect id="Rectangle_104" class="cls-1" x="98.81" y="70.48" width="49.38" height="21.04"/><path id="Path_400" class="cls-1" d="M98.81,13.81v21.05h49.38V13.81h-49.38Z"/><rect id="Rectangle_105" class="cls-1" x="42.15" y="42.15" width="77.7" height="21.04"/><path id="Path_401" class="cls-1" d="M63.19,34.86V13.81H13.81v21.05h49.38Z"/></g></svg>
        </div>
      </div>
    </div>
  </section>

  <section class="trusted navDestination">
    <div class="container">
      <h2><b>Zaufali</b> nam</h2>

      <div class="splide trusted_slider">
        <div class="splide__track">
          <ul class="splide__list trusted_list">
            <li class="splide__slide">
              <img src="./images/logos/moliera2.svg" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/haier.svg" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/yes.svg" alt="logo image" />
            </li>

            <li class="splide__slide">
              <img src="./images/logos/nck.svg" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/proexe.svg" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/dentsu.svg" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/the-bar.svg" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/bespoke.svg" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/pdb-invest.svg" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/full-spoon.svg" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/przychodnia-przyrodnicza.svg" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/igs-production.svg" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/science-4-beauty.svg" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/frances.svg" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/osmobud.svg" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/formika.svg" alt="logo image" />
            </li>
            <li class="splide__slide">
              <img src="./images/logos/lesko.svg" alt="logo image" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="realizations navDestination">
    <div class="container">
      <h2>Realizacje</h2>

      <div class="realizations_wrapper">
        <div class="realizations_content">
          <div class="realizations_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="arrow" />
            <picture>
              <source media="(min-width:768px)" srcset="./images/realizations/desktop/big_realization_1.webp" />
              <img src="./images/realizations/realization_1.webp" alt="realization image" class="realizations_el_img" />
            </picture>
            <p>Moliera2</p>
          </div>
          <div class="realizations_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="arrow" />
            <picture>
              <source media="(min-width:768px)" srcset="./images/realizations/desktop/big_realization_2.webp" />
              <img src="./images/realizations/realization_2.webp" alt="realization image" class="realizations_el_img" />
            </picture>
            <p>POS Premium</p>
          </div>
          <div class="realizations_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="arrow" />
            <picture>
              <source media="(min-width:768px)" srcset="./images/realizations/desktop/big_realization_3.webp" />
              <img src="./images/realizations/realization_3.webp" alt="realization image" class="realizations_el_img" />
            </picture>
            <p>Prowansja</p>
          </div>
          <div class="realizations_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="arrow" />
            <picture>
              <source media="(min-width:768px)" srcset="./images/realizations/desktop/big_realization_4.webp" />
              <img src="./images/realizations/realization_4.webp" alt="realization image" class="realizations_el_img" />
            </picture>
            <p>Event Eufonie</p>
          </div>
          <div class="realizations_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="arrow" />
            <picture>
              <source media="(min-width:768px)" srcset="./images/realizations/desktop/big_realization_5.webp" />
              <img src="./images/realizations/realization_5.webp" alt="realization image" class="realizations_el_img" />
            </picture>
            <p>Zombie Dash</p>
          </div>
          <div class="realizations_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="arrow" />
            <picture>
              <source media="(min-width:768px)" srcset="./images/realizations/desktop/big_realization_6.webp" />
              <img src="./images/realizations/realization_6.webp" alt="realization image" class="realizations_el_img" />
            </picture>
            <p>Inne</p>
          </div>
          <!-- <div class="realizations_more">
            <div class="realizations_el">
              <img src="./images/realizations/arrow.png" alt="arrow image" class="arrow" />
              <picture>
                <source media="(min-width:768px)" srcset="./images/realizations/big_realization_6.png" />
                <img src="./images/realizations/realization_6.png" alt="realization image" class="realizations_el_img" />
              </picture>
              <p>Nazwa projektu i klienta</p>
            </div>
            <div class="realizations_el">
              <img src="./images/realizations/arrow.png" alt="arrow image" class="arrow" />
              <picture>
                <source media="(min-width:768px)" srcset="./images/realizations/big_realization_6.png" />
                <img src="./images/realizations/realization_6.png" alt="realization image" class="realizations_el_img" />
              </picture>
              <p>Nazwa projektu i klienta</p>
            </div>
            <div class="realizations_el">
              <img src="./images/realizations/arrow.png" alt="arrow image" class="arrow" />
              <picture>
                <source media="(min-width:768px)" srcset="./images/realizations/big_realization_6.png" />
                <img src="./images/realizations/realization_6.png" alt="realization image" class="realizations_el_img" />
              </picture>
              <p>Nazwa projektu i klienta</p>
            </div>
          </div> -->

          <!-- <div class="more_btn">więcej</div> -->
        </div>
        <div class="realizations_extended">
          <div class="realizations_extended_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="extended_arrow" />
            <picture>
              <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_1-lg.webp" />
              <img src="./images/realizations/realization_1.webp" alt="realization image" class="realizations_el_img" />
            </picture>
            <div class="extended_content">
              <div class="extended_txt">
                <p>Moliera2</p>
                <p>
                  Czarne wizytówki z efektownymi złoceniami i złoconymi brzegami. Unikatowy design wizytówki z pewnością zaciekawi Twoich klientów i partnerów biznesowych. Poznaj nasze niestandardowe produkty, które podkreślą Twój profesjonalizm i pozostawią niezapomniane wrażenie.
                </p>
              </div>

              <picture class="zoom" data-zoomable="./images/realizations/zoom/zoom-1-1.webp">
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_1-1-lg.webp" />
                <img src="./images/realizations/realization_1-1.webp" alt="realizations image" />
              </picture>

              <picture class="zoom" data-zoomable="./images/realizations/zoom/zoom-1-2.webp">
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_1-2-lg.webp" />
                <img src="./images/realizations/realization_1-2.webp" alt="realizations image" class="zoomable" />
              </picture>
              <picture class="zoom" data-zoomable="./images/realizations/zoom/zoom-1-3.webp">
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_1-3-lg.webp" />
                <img src="./images/realizations/realization_1-3.webp" alt="realizations image" />
              </picture>
            </div>
            <div class="realizations_extended_collapse">wróć</div>
          </div>

          <div class="realizations_extended_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="extended_arrow" />
            <picture>
              <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_2-lg.webp" />
              <img src="./images/realizations/realization_2.webp" alt="realization image" class="realizations_el_img" />
            </picture>
            <div class="extended_content">
              <div class="extended_txt">
                <p>POS Premium</p>
                <p>
                  Kierujemy się Twoimi oczekiwaniami, używając różnorodnych materiałów, takich jak folie metalizowane, folie PET i folie adhezyjne. W produkcji POS Premium skupiamy się na detalach oraz uszlachetnieniach takich jak lakier oraz złocenie. Sprawdź nasze wyjątkowe propozycje, które podkreślą charakter Twojej marki.
                </p>
              </div>

              <picture class="zoom" data-zoomable="./images/realizations/zoom/zoom-2-1.webp">
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_2-1-lg.webp" />
                <img src="./images/realizations/realization_2-1.webp" alt="realizations image" />
              </picture>

              <picture class="zoom" data-zoomable="./images/realizations/zoom/zoom-2-2.webp">
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_2-2-lg.webp" />
                <img src="./images/realizations/realization_2-2.webp" alt="realizations image" />
              </picture>
              <picture class="zoom" data-zoomable="./images/realizations/zoom/zoom-2-3.webp">
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_2-3-lg.webp" />
                <img src="./images/realizations/realization_2-3.webp" alt="realizations image" />
              </picture>
            </div>
            <div class="realizations_extended_collapse">wróć</div>
          </div>

          <div class="realizations_extended_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="extended_arrow" />
            <picture>
              <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_3-lg.webp" />
              <img src="./images/realizations/realization_3.webp" alt="realization image" class="realizations_el_img" />
            </picture>
            <div class="extended_content">
              <div class="extended_txt">
                <p>Prowansja</p>
                <p>
                  Zapewnimy kompleksową obsługę, towarzysząc Ci od pierwszych koncepcji do finalnych rezultatów. Drukujemy niestandardowe ulotki, vouchery i bony upominkowe, tworząc wyjątkowe doświadczenia, które zachwycą Twoich klientów. Poznaj wszystkie możliwości, jakie daje papier.
                </p>
              </div>

              <picture class="zoom" data-zoomable="./images/realizations/zoom/zoom-3-1.webp">
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_3-1-lg.webp" />
                <img src="./images/realizations/realization_3-1.webp" alt="realizations image" />
              </picture>

              <picture class="zoom" data-zoomable="./images/realizations/zoom/zoom-3-2.webp">
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_3-2-lg.webp" />
                <img src="./images/realizations/realization_3-2.webp" alt="realizations image" />
              </picture>
              <picture class="zoom" data-zoomable="./images/realizations/zoom/zoom-3-3.webp">
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_3-3-lg.webp" />
                <img src="./images/realizations/realization_3-3.webp" alt="realizations image" />
              </picture>
            </div>
            <div class="realizations_extended_collapse">wróć</div>
          </div>
          <div class="realizations_extended_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="extended_arrow" />
            <picture>
              <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_4-lg.webp" />
              <img src="./images/realizations/realization_4.webp" alt="realization image" class="realizations_el_img" />
            </picture>
            <div class="extended_content">
              <div class="extended_txt">
                <p>Event Eufonie</p>
                <p>
                  Eleganckie Złote szwy wzdłuż grzbietu dodają wyjątkowego charakteru materiałom promocyjnym. Jako profesjonaliści od projektu do realizacji, proponujemy rozwiązania idealnie dopasowane do unikatowego charakteru każdego wydarzenia. Odkryj możliwości złotego koloru.
                </p>
              </div>

              <picture class="zoom" data-zoomable="./images/realizations/zoom/zoom-4-1.webp">
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_4-1-lg.webp" />
                <img src="./images/realizations/realization_4-1.webp" alt="realizations image" />
              </picture>

              <picture class="zoom" data-zoomable="./images/realizations/zoom/zoom-4-2.webp">
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_4-2-lg.webp" />
                <img src="./images/realizations/realization_4-2.webp" alt="realizations image" />
              </picture>
              <picture class="zoom" data-zoomable="./images/realizations/zoom/zoom-4-3.webp">
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_4-3-lg.webp" />
                <img src="./images/realizations/realization_4-3.webp" alt="realizations image" />
              </picture>
            </div>
            <div class="realizations_extended_collapse">wróć</div>
          </div>
          <div class="realizations_extended_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="extended_arrow" />
            <picture>
              <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_5-lg.webp" />
              <img src="./images/realizations/realization_5.webp" alt="realization image" class="realizations_el_img" />
            </picture>
            <div class="extended_content">
              <div class="extended_txt">
                <p>Zombie Dash</p>
                <p>
                  Odkryj ekskluzywne papierowe materiały marketingowe, starannie dostosowane do potrzeb marek odzieżowych. Jako Twoi kreatywni partnerzy, zapewniamy kompleksową obsługę - od projektowania do dostawy. Nasze niestandardowe rozwiązania nie tylko wyeksponują styl Twojej marki, ale także zachwycą wysoką jakością surowców. Poznaj piękno fakturowanych papierów.
                </p>
              </div>

              <picture class="zoom" data-zoomable="./images/realizations/zoom/zoom-5-1.webp">
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_5-1-lg.webp" />
                <img src="./images/realizations/realization_5-1.webp" alt="realizations image" />
              </picture>

              <picture class="zoom" data-zoomable="./images/realizations/zoom/zoom-5-2.webp">
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_5-2-lg.webp" />
                <img src="./images/realizations/realization_5-2.webp" alt="realizations image" />
              </picture>
              <picture class="zoom" data-zoomable="./images/realizations/zoom/zoom-5-3.webp">
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_5-3-lg.webp" />
                <img src="./images/realizations/realization_5-3.webp" alt="realizations image" />
              </picture>
            </div>
            <div class="realizations_extended_collapse">wróć</div>
          </div>
          <div class="realizations_extended_el">
            <img src="./images/realizations/arrow.png" alt="arrow image" class="extended_arrow" />
            <picture>
              <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_6-lg.webp" />
              <img src="./images/realizations/realization_6.webp" alt="realization image" class="realizations_el_img" />
            </picture>
            <div class="extended_content">
              <div class="extended_txt">
                <p>Inne</p>
                <p>
                  Tworzymy produkty, które spełniają unikalne potrzeby naszych klientów. Pozwól się zaskoczyć dopasowaniem do Twoich oczekiwań i odkryj, co sprawia, że nasza oferta wyróżnia się spośród innych. Odkryj pełnię naszych możliwości.
                </p>
              </div>

              <picture class="zoom" data-zoomable="./images/realizations/zoom/zoom-6-1.webp">
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_6-1-lg.webp" />
                <img src="./images/realizations/realization_6-1.webp" alt="realizations image" />
              </picture>

              <picture class="zoom" data-zoomable="./images/realizations/zoom/zoom-6-2.webp">
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_6-2-lg.webp" />
                <img src="./images/realizations/realization_6-2.webp" alt="realizations image" />
              </picture>
              <picture class="zoom" data-zoomable="./images/realizations/zoom/zoom-6-3.webp">
                <source media="(min-width:992px)" srcset="./images/realizations/desktop/realization_6-3-lg.webp" />
                <img src="./images/realizations/realization_6-3.webp" alt="realizations image" />
              </picture>
            </div>
            <div class="realizations_extended_collapse">wróć</div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="about navDestination">
    <div class="wrapper">
      <div class="about_content">
        <div class="container">
          <p class="about_heading">O nas</p>

          <p class="about_txt">
            Nasz zespół to młodzi, kreatywni specjaliści poligrafii z doświadczeniem w pracy z marketingiem dużych korporacji, e&#8209;commerce i agencji eventowych.
          </p>

          <p class="about_txt">
            Jesteśmy skoncentrowani na potrzebach klienta i radzimy sobie z każdym zadaniem, nawet tym pozornie niemożliwym.
          </p>

          <p class="about_txt mb-0">
            Szukasz ciekawych pomysłów? <b>Skontaktuj&nbsp;się z nami, a pomożemy Ci znaleźć inspirujące rozwiązania!</b>
          </p>
        </div>
      </div>
      <div class="about_bosses">

        <div>
          <img src="./images/goat.webp" alt="boss image" />
          <p>Karol <br />Kozicki <br /><i>CEO</i></p>
        </div>
        <div>
          <img src="./images/silentkiller.webp" alt="boss image" />
          <p>Łukasz <br />Cichy <br /><i>CEO</i></p>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer navDestination">
    <div class="container">
      <div class="footer_heading">
        <h2>
          <span class="secondary-color">Skontaktuj się</span> <br /><b>z nami</b>
        </h2>
        <img src="./images/footer-logo.svg" alt="footer logo" />
      </div>

      <div class="footer_content">
        <form action="https://formspree.io/f/xjvnkbwv" method="post" class="form" id="contact">
          <div class="form_el">
            <label for="name"></label>
            <input type="text" name="name" id="name" placeholder="IMIĘ" />
          </div>

          <div class="form_el">
            <label for="email"></label>
            <input type="email" name="email" id="mail" placeholder="E-MAIL" />
          </div>

          <div class="form_el form_el--textarea">
            <label for="message"></label>
            <textarea name="message" id="message" placeholder="TREŚĆ WIADOMOŚCI"></textarea>
          </div>

          <div class="form_el form_el--send">
            <span>Klikając przycisk 'Wyślij', zgadzasz się na przetwarzanie swoich danych osobowych w celu udzielenia odpowiedzi na Twoje zapytanie zgodnie z&nbsp;obowiązującym prawem o ochronie danych osobowych (RODO). Zapoznaj się z naszą Polityką Prywatności, aby dowiedzieć się więcej na temat przetwarzania danych osobowych.</span>
            <input type="submit" value="wyślij" class="send_btn" />
          </div>
        </form>

        <div class="footer_txt">
          <div class="company_details">
            <div class="adress">
              <p>ul. Kolejowa 2A</p>
              <span>|</span>
              <p>05-805 Kanie</p>
              <span>|</span>
              <p>NIP: 5272957016</p>
            </div>
            <p class="mail-adress copy-el">biuro@sigostudio.pl</p>
          </div>

          <div class="company_leaders">
            <div>
              <p>Karol Kozicki</p>
              <p>+48 797 188 417</p>
              <p class="copy-el">karol.kozicki@sigostudio.pl</p>
            </div>
            <div>
              <p>Łukasz Cichy</p>
              <p>+48 600 398 905</p>
              <p class="copy-el">lukasz.cichy@sigostudio.pl</p>
            </div>
          </div>

          <a href="#return" class="return_link"><img src="./images/return.svg" alt="return image" /></a>
        </div>
      </div>

      <div class="footer__links">

        <a href="./regulations.pdf" target="_blank">Regulamin</a> |  <a href="./privacy.pdf" target="_blank">Polityka prywatności</a>
      </div>

    </div>
  </footer>

  <div class="mask" id="mask"></div>
</body>

</html>